DB_NAME = 
DB_USER_NAME = 
DB_PASSWORD = 
HOST = localhost
PORT = 
# secret key to hash password of user
PASSWORD_SECRET =

JWT_SECRET_ACCESS_TOKEN = '1234321!@#'
JWT_SECRET_REFRESH_TOKEN = '1234321!@#@'
JWT_SECRET_EMAIL_VERIFY_TOKEN = '1234321!@#$#'
JWT_SECRET_FORGOT_PASSWORD_TOKEN = '1234321!@#$#e'

# Nếu expireIn là số thì nó sẽ tính theo giấy
# Nếu expireIn là string thì nó phải quy định thêm các ký tự như 'm', 'h'
# String mà không quy định thì nso sẽ tính theo milisecond
ACCESS_TOKEN_EXPIRES_IN = '1h'
REFRESH_TOKEN_EXPIRES_IN = '100d'
EMAIL_VERIFIED_TOKEN_EXPIRES_IN = '7d'
FORGOT_PASSWORD_TOKEN_EXPIRES_IN = '7d'